body {
  box-sizing: border-box;
  background-color: lightgray;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul a {
  text-decoration: none;
  color: black;
}
